{% extends 'base.html' %}

{% block title %}

{% if request.user.is_authenticated %}
| you are already looged in
{% else %}
| login
{% endif %}

{% endblock title %}


{% block content %}
{% if request.user.is_authenticated %}
    <div class="container">
    <div class="row">
        <div class="col-sm-9 col-ml-7 col-lg-4 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-header text-center bg-primary white-text">
                    <h2>My diary</h2>
                </div>
                <div class="card-body px-lg-5 pt-0 mt-5 mb-5">
                    <h5 class="text-center text-capitalize text-dark">You are already logged in</h5>
                    <a href="{% url 'home:index' %}" class="btn btn-outline-info btn-rounded btn-block my-4 wave-effect z-depth-0">Home Page</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-ml-7 col-lg-4 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-header text-center bg-primary white-text">
                    <h2>Login</h2>
                </div>
                <div class="card-body px-lg-5 pt-0 mt-5 mb-5">
                    <form class="form-signin text-center" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-outline-info btn-rounded btn-block my-4 wave-effect z-depth-0">Login</button>
                    </form>
                    <p class="text-dark text-center text-capitalize">don't have account? create <a href="../register/" class="text-info">Here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}
